.clear {
	clear:both;
}
.font-white {
	color: #fff !important;
}
.v-align-mid {
	vertical-align: middle !important;
}
.reg-link {
	font-weight: bold;
}
.reg-link:hover {
	cursor: pointer;
}
.account-box {
	max-width: 100%;
	margin: auto;
}
.account-option {
	position: relative;
	border-radius: 5px;
}
.account-option .account-btn {
	height: 515px;
	display: block;
}
.account-btn {
	font-size: 0;
}
.apply-container {
	background: url('../img/apply.png') center center no-repeat;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
.apply-container:hover {
    background: url('../img/blue.png') center center no-repeat;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
.partner-container {
	background: url('../img/partners.png') center center no-repeat;
}
